/* Universal styles */
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    text-align: center;
    background-color: black;
    opacity: 0.9;
}

a {
    color: seashell;
    text-decoration: underline;
}

/* Header styles */

header {
    display: flex;
    position: fixed;
    height: 69px;
    border-bottom: 1px solid seashell;
    z-index: 1;
    align-items: center;
    width: 100%;
    background-color: black;
    margin-top: -1%;
}

.logo {
    display: flex;
    margin-left: 10px;
    align-items: center;
    flex-grow: 1;
    opacity: 0.9;
}

.logo img {
    display: flex;
    height: 50px;
}

nav {
    display: flex;
    padding-right: 40px;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

/*content */
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center
}

.one{
    display: flex;
    background-image: url("../images/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    align-items: center;
}

.description {
    background-color: black;
    width: 1200px;
}

/*two stylr */

.two {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

.menus {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu {
    padding: 10px;
}
.menu img {
    width: 300px;
    height: 200px;
}

/*location style */

.three {
    display: flex;
    flex-direction: column;
    background-image: url("../images/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    justify-content: center;
    align-items: center;
}

.locations{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.location {
    width: 300px;
    background-color: black;
    opacity: 1;
    margin-right: 40px;
}

.contact {
    display: flex;
    flex-direction: column;
    height: 200px;
}

/*footer*/
footer{
    display: flex;
    text-align: left;
    margin-left: 20px;
}
