/* Universal styles */
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    text-align: center;
    background-color: black;
    opacity: 0.9;
}

a {
    color: seashell;
    text-decoration: underline;
}

/* Header style */

header {
    display: flex;
    position: fixed;
    height: 69px;
    border-bottom: 1px solid seashell;
    align-items: center;
    width: 100%;
    background-color: black;
    margin-top: -0.5%;
}

.logo {
    display: flex;
    margin-left: 10px;
    align-items: center;
    flex-grow: 1;
    opacity: 0.9;
}

.logo img {
    display: flex;
    height: 50px;
}

nav {
    display: flex;
    padding-right: 40px;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

/*content */

.content {
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.column.one{
    display: flex;
    background-image: url("../images/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    justify-content: center;
    align-items: center;
}

.description {
    background-color: black;
    width: 1200px;
}

